.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; font-size: 1.0em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #B8DBFF; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

div1 {
	width: 500px;
	border-style: solid;
	border-width: 1px;
	padding: 1px;
}

div2 {
	width: 300px;
	border-style: solid;
	border-width: 2px;
	padding: 10px;
}

button.start {
	background:none;
	border:none;
}
button.startTrade {
	background:none;
	border:none;
}